import org.mockito.Mockito
import liveplugin.PluginUtil.show

// add-to-classpath $HOME/.m2/repository/org/mockito/mockito-all/1.8.4/mockito*.jar

// Will work by adding mockito jar to plugin classpath.
show(Mockito.class.name)
