<idea-plugin>
    <id>com.my.company.unique.plugin.id</id>
    <name>TODO Plugin Name</name>
    <version>1.0</version>
    <vendor email="author@yourcompany.com" url="https://yourcompany.com">Your name</vendor>
    <description><![CDATA[ TODO plugin description]]></description>

    <!-- See https://plugins.jetbrains.com/docs/intellij/build-number-ranges.html -->
    <idea-version since-build="221.0"/>

    <!-- See https://plugins.jetbrains.com/docs/intellij/plugin-compatibility.html -->
    <depends>com.intellij.modules.platform</depends>

    <applicationListeners>
        <listener class="liveplugin.implementation.pluginrunner.kotlin.PackagedPluginAppLifecycle"
                  topic="com.intellij.ide.AppLifecycleListener"/>
        <listener class="liveplugin.implementation.pluginrunner.kotlin.PackagedPluginDynamicLifecycle"
                  topic="com.intellij.ide.plugins.DynamicPluginListener"/>
    </applicationListeners>
</idea-plugin>